extends ../layouts/default

block content
	.container
		.row
			.col-md-3
				include ../layouts/side-navi.jade
			.col-md-9
				.thumbnail
					img.img-responsive(src='/productimages/'+data.products.image.filename, alt='')
					.caption-full
						h4.pull-right ￥ #{data.products.price}
						h4
							a(href='#') #{data.products.name}
						form#uploadform(action="/upload",method="post",enctype="multipart/form-data")
							input#file(name="image",type="file",style="display:none")
							button.btn.btn-default#uploadbutton 试戴
						p
							| 产品描述：#{data.products.description}
						p
							| 产品信息：#{data.products.info}
		script(type='text/javascript').
			wx.config({
				debug: true,
				appId: 'wxd5a37e2ee2d7b1c0',
				timestamp: #{data.jsdata.timestamp},
				nonceStr: '#{data.jsdata.nonceStr}',
				signature: '#{data.jsdata.signature}',
				jsApiList: [
					'checkJsApi',
					'chooseImage',
					'previewImage',
					'uploadImage',
					'downloadImage'
				]
			});
		script(src='/js/wx.js')
